/******************************
 * 共通 CSS
 ******************************/

/******************************
 * 要素
 ******************************/
body {
    background-color: #e6e6e6;
}

/******************************
 * ID
 ******************************/
#login {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px 10px 10px 10px;
    z-index: 99;
}

/******************************
 * CLASS
 ******************************/
.title {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3%;
}

.login_form {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.error_message {
    color: #ff0000;
}

/******************************
 * Smart phone
 ******************************/
@media screen and (max-width:639px) {
    /******************************
     * ID
     ******************************/
    #login {
        width: 92%;
        height: 60%;
        margin: 15% 4% 15% 4%;
    }
}

/******************************
 * Tablet
 ******************************/
@media only screen and (min-width:640px) and (max-width:1023px) {
    /******************************
     * ID
     ******************************/
    #login {
        width: 92%;
        height: 65%;
        margin: 15% 4% 15% 4%;
    }
}

/******************************
 * PC
 ******************************/
@media screen and (min-width:1024px) {
    /******************************
     * ID
     ******************************/
    #login {
        width: 50%;
        height: 50%;
        margin: 5% 27% 5% 27%;
    }
}
